body {
  background-color: rgb(235, 235, 235);
}

.container-post-description {
  min-height: 500px;
}

.bg-white img {
  margin: 0;
  padding: 0;
}

.project-title {
  margin-top: 9px;
  line-height: 15px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.project-black {
  color: #0f0f0f;
  font-size: 1.7rem;
}

.projtitle-black {
  color: #1d1d1d;
  font-size: 1.3rem;
}

.projtitle-black p {
  text-align: justify;
  text-justify: inter-word;
}

.img-icon-post img {
  margin-right: 5px;
  border-radius: 50%;
}

.img-icon-post i {
  margin-right: 5px;
  color: white;
  font-size: 1.4rem;
}

.PostDescription {
  position: relative;
  /*  -webkit-box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.75); */
  background: #ffffff;
}

.paragraphePost {
  min-height: 650px;
  -webkit-box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.75);
  background: #ffffff;
}

.postTitle {
  background-color: #451dac;
  /* border-top-right-radius: 20px;
                  border-bottom-right-radius: 20px; */
}

.text-justify a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #451dac;
  border-radius: 20px;
}

.text-justify a:hover {
  background-color: #9901ff;
}

.imgPost {
  /* -webkit-box-shadow: 0px 11px 10px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 10px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 11px 10px -12px rgba(0, 0, 0, 0.75); */
  height: 400px !important;
  width: 100% !important;
  background-image: url("https://placehold.co/1400x400");
  background-repeat: "no-repeat";
}

.tagsPost {
  text-decoration: none;
  color: white;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
  background: #373737;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  color: #ffffff;
}

.tagsBloc {
  position: absolute;
  bottom: 15px;
}

.tags-row {
  position: relative;
}

.contentPost {
  position: relative;
  min-height: 150px;
}

.testtt img {
  width: 100%;
  max-height: 400px;
}

.git-demo-p {
  position: absolute;
  margin-top: 20px;
}

.paragraphePost h3 {
  background: -webkit-linear-gradient(#4f9ed6, #642088);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 50px;
}

.content-para p {
  text-align: justify !important;
}

/*############ Caroussel ############*/
/* .carousel-inner {
  border-radius: 14px;
}

div.carousel-caption {
  text-shadow: 2px 2px 2px black;
  text-align: left;
  right: auto;
  border-radius: 22px;
  padding-bottom: 4px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 1.1rem;
}

.captionCarouTitle {
  background-color: #1b1b1b;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-shadow: 0px -1px 6px 2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px -1px 6px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0px -1px 6px 2px rgba(0, 0, 0, 0.16);
}

.captionCarou {
  background-color: #949494;
  text-transform: uppercase;
  color: wheat;
}
 */
.titleColorCarousel {
  color: white;
}

.bg-carousel {
  background-color: #181818;
}
.carousel-container {
  position: relative;
  max-width: 1450px; /* ou toute autre valeur de votre choix */
  width: 80%;
  margin: 0 auto;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.carousel-btn-left {
  left: 10px;
}

.carousel-btn-right {
  right: 10px;
}

.carousel-arrow-left,
.carousel-arrow-right {
  font-size: 5rem;
  color: #ffffff; /* couleur des flèches */
}

.img-carou {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: -1px 0px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 20px -9px rgba(0, 0, 0, 0.75);
}

.line_leftBlack a {
  margin-right: 0.5rem;
  bottom: 0;
}
