.NavDesktop {
  display: flex;
  position: absolute;
  z-index: 999;
  right: 0;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1rem;
}

.NavDesktopPost {
  display: flex;
  position: absolute;
  z-index: 999;
  right: 0;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1rem;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.25), transparent);
}

.navButton a {
  text-decoration: none;
  margin-left: 6%;
  font-weight: bold;
  color: white;
  border-radius: 30px;
  padding-left: 11px;
  padding-right: 11px;
  transition: 0.4s;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
}
.navButton a:hover {
  color: #263e84;
  transition: 0.4s;
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/*NAVBAR SIMPLE*/
.NavDesktopSimple {
  display: flex;
  /* padding-right: 5%;
  padding-top: 1%; */
  height: 65px;
}

.navButtonSimple a {
  margin-left: 6%;
  font-weight: bold;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.4s;
}
.navButtonSimple a:hover {
  background-color: white;
  color: #161616;
  transition: 0.4s;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
}

.simpleNavBar {
  background: #4123bf;
  background: -moz-linear-gradient(left, #4123bf 0%, #4320b6 12%, #500b76 96%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #4123bf),
    color-stop(12%, #4320b6),
    color-stop(96%, #500b76)
  );
  background: -webkit-linear-gradient(
    left,
    #4123bf 0%,
    #4320b6 12%,
    #500b76 96%
  );
  background: -o-linear-gradient(left, #4123bf 0%, #4320b6 12%, #500b76 96%);
  background: -ms-linear-gradient(left, #4123bf 0%, #4320b6 12%, #500b76 96%);
  background: linear-gradient(to right, #4123bf 0%, #4320b6 12%, #500b76 96%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#4123bf", endColorstr="#500b76", GradientType=1 );
}

.backIcon {
  font-size: 1.4rem;
}

.fas-navbar {
  font-size: 1.2rem;
}

.navbar-mobile.closed {
  display: none;
}

.navbar-mobile.open {
  display: block;
}

.navbar-mobile li {
  list-style: none;
  color: #ffffff;
  font-weight: bold;
}

.navbar-mobile li a {
  text-decoration: none;
  color: #4123bf;
  transition: 0.5s;
}

.navbar-mobile li a:hover {
  border-radius: 40px;
  background-color: #4123bf;
  color: white;
  padding: 8px 22px 8px 22px;
  transition: 0.5s;
}

.menu-burger-icon {
  font-size: 2rem;
  color: #4123bf;
  border-radius: 50%;
  padding: 13px;
  transition: 0.7s;
}

.menu-burger-icon:hover {
  font-size: 2rem;
  color: #ffffff;
  background-color: #4123bf;
  border-radius: 22%;
  padding: 13px;
  transition: 0.7s;
  cursor: pointer;
}

#mobile-burger {
  background-color: #ffffff;
}
