.blocContact {
  min-height: 550px;
  background: #4123bf;
  background: -moz-linear-gradient(left, #4123bf 0%, #4320b6 12%, #500b76 96%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #4123bf),
    color-stop(12%, #4320b6),
    color-stop(96%, #500b76)
  );
  background: -webkit-linear-gradient(
    left,
    #4123bf 0%,
    #4320b6 12%,
    #500b76 96%
  );
  background: -o-linear-gradient(left, #4123bf 0%, #4320b6 12%, #500b76 96%);
  background: -ms-linear-gradient(left, #4123bf 0%, #4320b6 12%, #500b76 96%);
  background: linear-gradient(to right, #4123bf 0%, #4320b6 12%, #500b76 96%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#4123bf", endColorstr="#500b76", GradientType=1 );
}
