.NavDesktop {
  display: flex;
  position: absolute;
  z-index: 999;
  right: 0;
  padding-right: 5%;
  padding-top: 1%;
}

.navButton a {
  text-decoration: none;
  margin-left: 6%;
  font-weight: bold;
  color: white;
  border-radius: 30px;
  padding-left: 11px;
  padding-right: 11px;
  transition: 0.4s;
}
.navButton a:hover {
  color: #263e84;
  transition: 0.4s;
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
}
